.details h2 {
  font-size: 1.5rem; /* Smaller font size for mobile */
}

.details h3 {
  font-size: 1.2rem; /* Smaller font size for mobile */
  font-weight: 400;

}

.html {
  margin-top: 20px; /* Adjusted margin for mobile */
}

.featured {
  margin-bottom: 20px; /* Adjusted margin for mobile */
}

/* Media query for desktop */
@media (min-width: 768px) {
  .details h2 {
    font-size: 2.5rem; /* Larger font size for desktop */
  }

  .details h3 {
    font-size: 1.5rem; /* Larger font size for desktop */
   
  }

  .featured {
    margin-bottom: 40px; /* Larger margin for desktop */
  }
}
